<footer>
    <span th:utext="#{copyright}"></span>
    <div class="aQ">
        <img class="aQ_img" th:src="@{/images/police.png}" alt="">
        <span>川公网安备 51019002001095号</span>
    </div>
</footer>
<style>
    footer{
        width: 100%;
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 5px;
    }
    .aQ{
        display: inline-block;
        margin-left: 20px;
    }
    .aQ_img{
            margin-right: 2px;
    }
    @media (max-width:412px){
        footer{
            position: relative;
        }
    }
</style>
