html,body{
            height: 100%;
        }
        .login_container{
            background: #f0f4fb;
            height: 100%;
        }
        header{
            position: relative;

        }
        .navbar_header{
            background-color: #0099ff;
            height: 145px;
            overflow: hidden;
        }
        .navbar_header img{
            display: block;
            margin: 100px auto 0;
        }
        .leaveNote{
            background-color: #0099ff;
            height: 200px;
            width: 100%;
            position: absolute;
            top:145px;
        }
        .login_system{
            width: 800px;
            margin:auto;
            height: 400px;
            background: #fff;
            margin-top:94px;
            position: relative;
        }
        .login_info{
            text-align: center;
            padding-top:96px;
            color: #283a59;
            font-weight: bold;
        }
        .login_btn{
            /* width: 600px; */
            padding: 40px 0;
            overflow: hidden;
            margin: auto;
        }
        .btn{
            border:none;
            outline: none;
            width: 140px;
            height: 44px;
            line-height: 40px;
            border-radius: 50px;
            font-size: 14px;
            cursor: pointer;
        }
        .login_bg .btn a{
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
        }
        .login_bg:nth-of-type(2) .btn{
            background-color: #fff;
            border:1px solid #999;
            float: right;
            
        }
        .login_bg:nth-of-type(2) .btn a{
            color: #a7aeb9;
        }
        .login_bg:nth-of-type(1) .btn{
            background-color: #0099ff;
            border:1px solid #0099ff;
            float: left;
        }
        .login_bg:nth-of-type(1) .btn a{
            color: #fff;
        }
        .login_btn a:hover{
            text-decoration: none;
        }
        .login_bg{
            padding: 40px 0;
            background-color: #f4f5f7;
            border-radius: 20px;
            float: left;
            text-align: center;
            position: relative;
            width: 250px;
        }
        .login_bg:nth-of-type(2){
            margin-left: 50px;
        }
        .login_text{
            color: #6d7e9b;
            font-size: 14px;
        }
        .btn{
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
        .position-flex{
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        @media screen and (max-width: 640px){
            .navbar_header img{
                margin: 20px;
            }
            .navbar_header{
                height: auto;
            }
            .leaveNote{
                display: none;
            }
            .login_system{
                width: 100%;
                margin-top: 0;
                height: auto;
            }
            .login_info{
                margin: 0;
            }
            .login_bg:nth-of-type(2){
                margin: 50px 0 0 0;
            }
        }