<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colossus.common.dao.IndexSlideAdMapper">
  <resultMap id="BaseResultMap" type="com.colossus.common.model.IndexSlideAd">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="alt" jdbcType="VARCHAR" property="alt" />
    <result column="clog" jdbcType="VARCHAR" property="clog" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="logV" jdbcType="VARCHAR" property="logv" />
    <result column="src" jdbcType="VARCHAR" property="src" />
    <result column="srcB" jdbcType="VARCHAR" property="srcb" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="logDomain" jdbcType="VARCHAR" property="logdomain" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, alt, clog, ext1, href, logV, src, srcB, status, sort_order, logDomain, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.colossus.common.model.IndexSlideAdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from index_slide_ad
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from index_slide_ad
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from index_slide_ad
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.colossus.common.model.IndexSlideAdExample">
    delete from index_slide_ad
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.colossus.common.model.IndexSlideAd">
    insert into index_slide_ad (id, alt, clog, 
      ext1, href, logV, src, 
      srcB, status, sort_order, 
      logDomain, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{alt,jdbcType=VARCHAR}, #{clog,jdbcType=VARCHAR}, 
      #{ext1,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, #{logv,jdbcType=VARCHAR}, #{src,jdbcType=VARCHAR}, 
      #{srcb,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, 
      #{logdomain,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.colossus.common.model.IndexSlideAd">
    insert into index_slide_ad
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="alt != null">
        alt,
      </if>
      <if test="clog != null">
        clog,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="logv != null">
        logV,
      </if>
      <if test="src != null">
        src,
      </if>
      <if test="srcb != null">
        srcB,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="logdomain != null">
        logDomain,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="alt != null">
        #{alt,jdbcType=VARCHAR},
      </if>
      <if test="clog != null">
        #{clog,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="logv != null">
        #{logv,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="srcb != null">
        #{srcb,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="logdomain != null">
        #{logdomain,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.colossus.common.model.IndexSlideAdExample" resultType="java.lang.Long">
    select count(*) from index_slide_ad
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update index_slide_ad
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.alt != null">
        alt = #{record.alt,jdbcType=VARCHAR},
      </if>
      <if test="record.clog != null">
        clog = #{record.clog,jdbcType=VARCHAR},
      </if>
      <if test="record.ext1 != null">
        ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.href != null">
        href = #{record.href,jdbcType=VARCHAR},
      </if>
      <if test="record.logv != null">
        logV = #{record.logv,jdbcType=VARCHAR},
      </if>
      <if test="record.src != null">
        src = #{record.src,jdbcType=VARCHAR},
      </if>
      <if test="record.srcb != null">
        srcB = #{record.srcb,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.logdomain != null">
        logDomain = #{record.logdomain,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update index_slide_ad
    set id = #{record.id,jdbcType=VARCHAR},
      alt = #{record.alt,jdbcType=VARCHAR},
      clog = #{record.clog,jdbcType=VARCHAR},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      href = #{record.href,jdbcType=VARCHAR},
      logV = #{record.logv,jdbcType=VARCHAR},
      src = #{record.src,jdbcType=VARCHAR},
      srcB = #{record.srcb,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      sort_order = #{record.sortOrder,jdbcType=INTEGER},
      logDomain = #{record.logdomain,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.colossus.common.model.IndexSlideAd">
    update index_slide_ad
    <set>
      <if test="alt != null">
        alt = #{alt,jdbcType=VARCHAR},
      </if>
      <if test="clog != null">
        clog = #{clog,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="logv != null">
        logV = #{logv,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        src = #{src,jdbcType=VARCHAR},
      </if>
      <if test="srcb != null">
        srcB = #{srcb,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="logdomain != null">
        logDomain = #{logdomain,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.colossus.common.model.IndexSlideAd">
    update index_slide_ad
    set alt = #{alt,jdbcType=VARCHAR},
      clog = #{clog,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      logV = #{logv,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR},
      srcB = #{srcb,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      logDomain = #{logdomain,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>