<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{screen.success.header}"></title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/system.css?ts=201712021626}">
</head>

<body id="cas">
<div layout:fragment="content" class="login_container">
    <div class="alert alert-success">
        <!-- <h2 th:utext="#{screen.success.header}"/>
        <p th:utext="#{screen.success.success(${principal.id})}"/>
        <br>
        <p th:utext="#{screen.success.security}"/> -->
        <header>
            <div class="navbar_header">
                <a href="javascript:void(0)" class="logo"><img src="/passport/images/logo.png" class="login_logo" alt="logo"></a>
            </div>
            <div class="leaveNote"></div>
        </header>
        <div class="login_system">
            <h4 class="login_info">您已经是登录状态，请选择要进入的系统</h4>
            <div class="login_btn position-flex">
                <div class="login_bg">
                    <button class="btn" id="money"><a  href="javascript:void(0)">天秤星收款</a></button>
                    <p class="login_text">
                        继续绑定收款系统,<br> 立即获得1000星币。
                        <br> 还有海量优惠等您来领
                    </p>
                </div>
                <div class="login_bg">
                    <p class="login_text">
                        立即使用天秤星<br> 专业级卖家工具,
                        <br> 助您轻松管理店铺
                        <button class="btn" id="oldriver"><a  href="javascript:void(0)">天秤星数据</a></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-2.1.1.js}"></script>
    <script>
        var host = window.location.host;
        var moneyHref = '';
        var oldriverHref = '';
        var logoHref = '';
        if (host == 'test.tembin.com' || host == 'localhost:8443') {
            moneyHref = '/my/'
            oldriverHref = '/oldriver/'
            logoHref = "https://test.tembin.com"
        } else {
            moneyHref = 'https://money.tembin.com/my/'
            oldriverHref = 'https://app.tembin.com/oldriver-beta/'
           logoHref = "https://www.tembin.com"          
        }
        $("#money").on("click", function () {
            window.location.href = moneyHref;
        })
        $("#oldriver").on("click", function () {
            window.location.href = oldriverHref;
        })
        $(".logo").on("click", function () {
            window.location.href = logoHref;
        }) 
    </script>
</div>
</body>
</html>
