<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head >
    <title th:text="#{cas.login.pagetitle}"></title>
    <link rel="stylesheet"  th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-3.4.2.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/iCheck/skins/flat/blue.css}">
    <link rel="stylesheet" th:href="@{/css/login.css?ts=201809071705}">
</head>

<body>
    <div layout:fragment="content"  class="login_container">
        <div class="login_content">
            <div class="login_wrapper">
                <a href="https://www.tembin.com/" target="_blank"><img th:src="@{/images/login_logo.png}" class="login_logo" alt="login_logo"></a>
                <div class="login_cont">
                    <div class="login_info">
                        <div th:replace="fragments/loginform" />
                    </div>
                    <div class="login_carousel">
                        <div class="swiper-container carousel1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img th:src="@{/images/carousel1.png?ts=201808221154}" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img th:src="@{/images/carousel2.png?ts=201808221154}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/footer" />
        </div>
        <script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-2.1.1.js}"></script>
        <script type="text/javascript" th:inline="javascript" th:src="@{/css/plugins/iCheck/icheck.min.js}"></script>
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
            $("input[name=login_to]").eq(0).prop('checked', true)
            $('input.flat').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            })

            function resizeFun() {
                // if (document.documentElement.clientWidth <= 1320) {
                //     $(".login_wrapper .login_cont").addClass("position-flex");
                // }
                if (document.documentElement.clientHeight < 760) {
                    $("footer").css({
                        'position': 'static'
                    })
                    $(".login_content").css({
                        'padding': '20px 0 40px'
                    })
                    $(".login_logo").css({
                        'margin-bottom': '40px'
                    })
                } else {
                    $("footer").css({
                        'position': 'absolute'
                    })
                    $(".login_content").css({
                        'padding': '6% 0 0 0'
                    })
                    $(".login_logo").css({
                        'margin-bottom': '60px'
                    })
                }
            }
            resizeFun();
            window.addEventListener('resize', function () {
                resizeFun()
            })
            $(".tabs_text").on("click", function () {
                $(".tabs_text").removeClass("istabs");
                $(this).addClass("istabs");
                for (var i = 0; i < $(".tabs_text").children().length; i++) {
                    $("input[name=service]").eq(i).prop('checked', false)
                }
                $(this).children().prop('checked', true)
                console.log($("input[name=service]:checked"))
                if ($('.sliding_block').is('.sliding_left')) {
                    $('.sliding_block').removeClass('sliding_left')
                    $('.sliding_block').addClass('sliding_right')

                } else {
                    $('.sliding_block').addClass('sliding_left')
                    $('.sliding_block').removeClass('sliding_right')
                }

            })
            $(".login_input").on('change', 'input', function () {
                if ($(this).val()) {
                    $(this).prev().addClass("active-icon")
                } else {
                    $(this).prev().removeClass("active-icon")
                }
            })
            var mySwiper = new Swiper('.carousel1', {
                paginationClickable: true,
                autoplay: 3000,  //自动播放时间
                autoplayDisableOnInteraction: false, //自动切换不会停止
                loop: true,
            })
        </script>
        <script type="text/javascript" th:inline="javascript">
            var i = [[#{ screen.welcome.button.loginwip }]]
            $("#fm1").submit(function () {
                $(":submit").attr("disabled", true);
                $(":submit").attr("value", i);
                return true;
            });
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89039229-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-89039229-3');
        </script>
    </div>
    
</body>
</html>
